[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
hastrology_program = "A3voJRWMzoy1118ZmTjsoYAGXrM9zPySUPwcgUQ3PV76"

[programs.localnet]
hastrology_program = "A3voJRWMzoy1118ZmTjsoYAGXrM9zPySUPwcgUQ3PV76"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
